@media (max-width: 680px) {
    header, .puzzInput {
        // background: pink;
        flex-direction: column;
        height: 500px;
        text-align: center;
    }
    p, input {
        font-size: 1.2rem;
    }
    // h1 {
    //     font-size: 2rem;
    // }
    // h2 {
    //     font-size: 1.5rem;
    // }
}