.puzzInput {
    flex-direction: row-reverse;
    
}

.formDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $teal;
    form {
        margin-top: 40px;
        display: flex;
        max-height: 500px;
        background: $red;
        border-radius: 10px;
        flex-direction: column;
        width: 50%;
        justify-content: space-evenly;
        padding: 40px;
        text-align: center;

        div {
            display: flex;
            font-size: 2.5rem;
            align-items: center;
            flex-direction: column;
        }
        .riddleArea input {
            padding-bottom: 100px;
            width: 70%;
            }
        
    }
}

.formDiv input {
    margin: 20px 0;
    }
    

.formDiv button {
    align-self: center;
    padding: 20px 30px;
}