@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Black+Ops+One&display=swap");
////////////////
// Variables // 
//////////////
$specialFont: 'Black Ops One', cursive;
$bodyFont: 'Arimo', sans-serif;

$blue: #227C9D;
$teal: #9ddfd8;
$yellow: #FFCB77;
$white: #FEF9EF;
$red: #FE6D73;
////////////
// Mixins //
///////////

@mixin buttonDIY ($pad: 10px,$bg: $yellow,$color: $red, $size: 1.5rem){
    padding: $pad;
    background: $bg;
    color: $color;
    font-size: $size;
    border: none;
    border-radius: 10%;
}

button {
    @include buttonDIY()
}

button:hover{
    background: rgb(204, 204, 204);
}

html {
    font-size: 62.5%;
    font-family: $bodyFont;
}

h1, h2 {
    font-family: $specialFont;
    font-size: 5rem;
}

header {
    height: 20vh;
    min-height: 50px;
    background: rgb(38, 140, 236);
}

.background {
    height: 80vh;
    background:$teal;
}
